.form-container {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 2px solid #648bae;
}

.register-form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.register-form {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.label {
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    background-color: #5b9bd5;
    border: 2px solid #648bae;
}

.form-label {
    padding: 3% 5%;
    border: 2px solid #648bae;
    background-color: green;
    color: white;
    min-width: 16%;
    margin: 0 10px;
}

select {
    width: 45%;
    padding: 16px;
    border: 2px solid #648bae;
    box-sizing: border-box;
    margin-right: auto;
    margin-right: 70px;
}

button {
    margin: 5% auto 0 auto;
    display: block;
    font-family: inherit;
    width: 25%;
    padding: 15px;
    border: 2px solid #648bae;
    background-color: green;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
}

.required {
    color: red;
}

.register-form input[type="text"] {
    border: none ;
}
.register-form input[type="text"]:focus {
    outline: none;
}
