.container {
    width: 60%;
    margin: 2% auto 0 auto;
}

label {
    display: inline-block;
    width: 10%;
    padding: 5px;
}

.search-box {
    display: flex;
    flex-direction: column;
}

button {
    font-family: inherit;
    font-size: 1rem;
    color: white;
    width: 10%;
    padding: 10px;
    background-color: blue;
    border-radius: 6px;
    margin: 1% auto 1% auto;
    cursor: pointer;
}

.btn {
    text-align: center;
}

select,
input[type="text"] {
    width: 20%;
    padding: 5px;
    margin-top: 5px;
}

.add-button {
    text-decoration: none;
    display: inline-flex;
    padding: 10px;
    background-color: blue;
    border-radius: 6px;
    margin-left: 800px;
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;
}

.search label,
.search input[type="text"],
.department label,
.department select {
    margin-bottom: 0;
}

#resultCount {
    margin-top: 10px;
}

th,
td {
    padding: 10px;
    text-align: center;
}

.action {
    border: 1px solid blue;
    background-color: blue;
    padding: 3px;
    color: white;
}

.department,
.search {
    display: flex;
    align-items: left;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 10px;
}
/* Thêm class mới cho các nút sửa và xóa */
.button-container {
    font-family: inherit;
    font-size: 1rem;
    color: white;
    padding: 25px; /* Kích thước lớn hơn */
    background-color: blue;
    border-radius: 6px;
    margin: 1% auto 1% auto;
    cursor: pointer;
}

/* Áp dụng class mới cho nút xóa */
.delete-button {
    background-color: red; /* Màu đỏ cho nút xóa */
}

/* Áp dụng class mới cho nút sửa */
.edit-button {
    background-color: blue; /* Màu cam cho nút sửa */
}
