.form-container {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 2px solid #648bae;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.register-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-label {
    padding: 10px;
    box-sizing: border-box;
    color: white;
    background-color: green;
    border: 2px solid #648bae;
    flex: 2; /* Giữ kích thước cố định của label */
}

.input-field {
    flex: 1; /* Lấp đầy phần còn lại của container */
    margin-left: 10px;
}

select, input[type="text"], input[type="file"] {
    width: 100%;
    padding: 16px;
    border: 2px solid #648bae;
    box-sizing: border-box;
}

button {
    margin-top: 10px;
    display: block;
    font-family: inherit;
    width: 25%;
    padding: 15px;
    border: 2px solid #648bae;
    background-color: green;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
}

.required {
    color: red;
}

.custom-file-upload {
    cursor: pointer;
    padding: 2px 10px;
    background-color: #f0f0f0;
    color: black;
    border: 1px solid #000000;
    border-radius: 3px;
    font-size: 1rem;
}

#selected-image {
    max-width: 100%;
    display: none;
}
